.item {
  background-color: #e9ecef;
  border-radius: 10px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.075);

  flex-shrink: 0;

  display: flex;
  align-items: center;
  padding: 15px;

  text-align: left;

  transition: all 0.4s;
}

.item:hover {
  /* box-shadow: 0 0 24px rgba(107, 202, 88, 0.288); */
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.288);
}

.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
  /* font-style: italic; */
  /* text-decoration: underline; */
}

.item p,
.item span {
  font-size: 13px;
}

.item span {
  color: rgb(148, 143, 143);
}
